/* css/main.css */

@import url('https://www.nerdfonts.com/assets/css/webfont.css');

@import url('./global.css');
@import url('./keyframes.css');
@import url('./theme.css');

@import url('./components/info.css');
@import url('./components/game-over.css');
@import url('./components/word.css');
@import url('./components/ui.css');

@font-face {
  font-family: "Neon";
  src: url("/assets/font/neon.woff") format('woff');
}

@font-face {
  font-family: "Krypton";
  src: url("/assets/font/krypton.woff") format('woff');
}

:root {
  --time-easy: 30s;
  --time-medium: 25s;
  --time-hard: 20s;
}

* { box-sizing: border-box }

.hidden { display: none !important; }

#particles-js {
  width: 100%;
  height: 100%;
}
#particles-js canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.final-score {
  color: var(--ctp-green);
}
.final-words-count {
  color: var(--ctp-rosewater);
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.label {
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: var(--ctp-text);
}
.points .label {
  letter-spacing: 4.2px;
}
