/* css/main.css */
@import url('https://www.nerdfonts.com/assets/css/webfont.css');
@import url('./theme.css');

@font-face {
  font-family: "Neon";
  src: url("/assets/font/neon.woff") format('woff');
}

@font-face {
  font-family: "Krypton";
  src: url("/assets/font/krypton.woff") format('woff');
}

:root {
  --time-easy: 30s;
  --time-medium: 25s;
  --time-hard: 20s;
}

* { box-sizing: border-box }

.hidden { display: none !important; }

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  overflow: hidden;
  font-family: "Argon", sans-serif;
  background-color: var(--ctp-base);
  box-shadow: inset 0 30px 50px -50px var(--ctp-blue), inset 0 -30px 50px -50px var(--ctp-red);
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 64px;
  font-weight: normal;
  color: var(--ctp-green);
  text-shadow: 0 0 30px var(--ctp-green);
}
h1 code {
  font-size: 64px;
  font-weight: bold;
  color: var(--ctp-rosewater);
  text-shadow: 0 0 30px var(--ctp-rosewater);
}

p {
  max-width: 720px;
  font-size: 24px;
  color: var(--ctp-text);
}

code {
  font-family: "Krypton", monospace;
  font-size: 20px;
  font-weight: bold;
  color: var(--ctp-red);
}

button {
  font-family: "Krypton", monospace;
}
.start-btn {
  margin-top: 16px;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: var(--ctp-blue);
  color: var(--ctp-crust);
  box-shadow: 0 0 30px -10px var(--ctp-blue), 0 4px 16px -10px var(--ctp-blue);
  transition-duration: 0.24s;
}
.start-btn:hover {
  letter-spacing: 2.5px;
  background: var(--ctp-green);
  box-shadow: 0 0 50px -10px var(--ctp-green), 0 10px 24px -10px var(--ctp-green);
}
.info-text.small {
  margin-top: 32px;
  font-size: 18px;
  font-weight: normal;
  color: var(--ctp-peach);
}

.points {
  position: absolute;
  bottom: 64px;
  left: 20px;
  display: flex;
  align-items: flex-end;
  font-size: 22px;
  color: var(--ctp-text);
}
.points-count {
  margin-left: 12px;
  font-size: 24px;
  font-weight: bold;
  color: var(--ctp-green);
}

.lives {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: flex-end;
  font-size: 22px;
  color: var(--ctp-text);
}
.hearts i.nf {
  position: relative;
  top: 0;
  margin-left: 12px;
  opacity: 1;
  font-size: 24px;
  font-weight: bold;
  color: var(--ctp-red);
  transition-duration: 1s;
}
i.nf-fa-heart_o {
  top: -36px !important;
  font-size: 36px !important;
  opacity: 0.00000001 !important;
}

.user-input {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Krypton", monospace;
  font-size: 24px;
  color: var(--ctp-text);
  text-align: center;
}
.user-input.wrong {
  color: var(--ctp-red);
}
.user-input.correct {
  color: var(--ctp-green);
}

.word {
  display: block;
  position: absolute;
  top: 100%;
  transform: translate(-50%, 0%);
  font-family: "Krypton", monospace;
  opacity: 0.5;
}
.easy {
  animation: unsolved var(--time-easy) linear;
}
.medium {
  animation: unsolved var(--time-medium) linear;
}
.hard {
  animation: unsolved var(--time-hard) linear;
}
.word.active {
  opacity: 1;
  color: var(--ctp-text) !important;
}
.word.correct {
  color: var(--ctp-green) !important;
  opacity: 0.00000001;
  transition-duration: 1s;
}
.word .points {
  position: relative;
  top: -72px;
  left: 0;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--ctp-green);
  opacity: 1;
  animation: points 0.25s linear;
}

@keyframes points {
  0% {
    top: -48px;
    opacity: 0.00000001;
  }
  100% {
    top: -72px;
    opacity: 1;
  }
}

@keyframes unsolved {
  0% {
    top: -5%;
    /* color: var(--ctp-blue); */
  }
  100% {
    top: 95%;
    color: var(--ctp-red);
  }
}
