.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.game-over h1 {
  margin: 0;
  padding: 0;
  font-size: 64px;
  font-weight: normal;
  color: var(--ctp-red);
  text-shadow: 0 0 30px var(--ctp-red);
}
.personal-best {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}
.personal-best * {
  margin: 0;
  padding: 0;
}
.personal-best h2 {
  font-size: 24px;
  font-weight: normal;
  color: var(--ctp-peach);
}
.personal-best ul {
  width: 100%;
  list-style: none;
  margin-top: 16px;
}
.personal-best li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0;
}
.personal-best hr {
  margin: 12px 0;
  border: none;
  border-bottom: 1px solid var(--ctp-overlay0);
}
.personal-best .best-label {
  margin-right: 64px;
  font-weight: bold;
  color: var(--ctp-text);
}
.personal-best .best-value {
  font-weight: bold;
  color: var(--ctp-rosewater);
}
